[Unit]
Description=Run silent-balance.service every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=15s
Persistent=true
Unit=silent-balance.service

[Install]
WantedBy=timers.target
